[Unit]
Description=sporty daemon
Requires=practicum.socket
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/sporty/
ExecStart=/root/sporty/.venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/sporty.sock \
          core.wsgi:application

[Install]
WantedBy=multi-user.target